<h2>
	<a href="/tasas">Tasas</a>
</h2>

<div class="third_box">
	<div>
		<a href="/tasas/imi/"><img src="/site_media/images/tax_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/tasas/imi/" class="big" title="&Iacute;ndice Mis Indicadores">&Iacute;ndice Mis Indicadores</a>
	</div>
	<p class="small">
		&Iacute;ndice de medici&oacute;n econ&oacute;mica de Mis Indicadores.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/tasas/cpp/"><img src="/site_media/images/pricetag_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/tasas/cpp/" class="big" title="Costos de Captaci&oacute;n">CPP</a>
	</div>
	<p class="small">
		Costos de Captaci&oacute;n
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/tasas/cetes/"><img src="/site_media/images/cochino_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/tasas/cetes/" class="big" title="CETES">CETES</a>
	</div>
	<p class="small">
		Resultados de la subasta de valores gubernamentales.
	</p>
</div>

<div class="break"><!-- i --></div>

<div class="third_box">
	<div>
		<a href="/tasas/tiie/"><img src="/site_media/images/banco_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/tasas/tiie/" class="big" title="Tasa de Inter&eacute;s Interbancario de Equilibrio">TIIE</a>
	</div>
	<p class="small">
		Tasa de Inter&eacute;s Interbancario de Equilibrio
	</p>
</div>

<div class="break"><!-- i --></div>