{% extends "base.html" %}
{% load tags %}

{% block title %}
	{{ chart_title|safe }}
{% endblock %}

{% block content %}
  <h1>
    <a href="/tasas/">Tasas</a> - 
    <a href="/tasas/{{ slug }}/">{{ chart_title|safe }}</a>
  </h1>
  
  <h2>
    {{ fecha|sDate }}
  </h2>
  
  <div class="small right">
    <form method="get" action="/tasas/{{ slug }}/">
      {{ fecha|fecha_select_no_day|safe }}
      <input type="submit" value="Ver" />
      <input type="button" value="Hoy" onclick="location.href = '/tasas/{{ slug }}/';" />
    </form>
  </div>
  
  <div id="container_chart" style="height: 400px; margin: 0 auto"></div>

  <script type="text/javascript"> 
    $(document).ready(function() {
      var chart = new Highcharts.Chart({
        chart: {
          renderTo: 'container_chart',
          defaultSeriesType: 'line',
          margin: [50, 20, 80, 70]
        },
        title: {
          text: "{{ chart_title|safe }}",
          style: {
            margin: '10px 100px 0 0' // center it
          }
        },
        subtitle: {
          text: '{{ chart_source|safe }}',
          style: {
            margin: '0 100px 0 0' // center it
          }
        },
        xAxis: {
          categories: [
            {{ chart_categories|safe }}
          ],
          title: {
            text: 'Fecha'
          },
          labels: {
            rotation: -90, 
            y: 34, 
            style: {
              fontSize: '8pt'
            }
          }
        },
        yAxis: {
          title: {
            text: 'Valor'
          },
          plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
          }]
        },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.series.name +'</b><br/>'+
            this.x +': '+ this.y;
          }
        },
        legend: {
          layout: 'vertical',
          style: {
            left: 'auto',
            bottom: 'auto',
            right: '10px',
            top: '100px'
          }
        },
        credits: {
          enabled: false
        },
        series: [
          {
            name: 'CPP',
            data: [
              {{ chart_promedios }}
            ]
          },
          {
            name: 'Pasivos M.N.',
            data: [
              {{ chart_pesos }}
            ],
            visible: false
          },
          {
            name: 'Pasivos UDIS',
            data: [
              {{ chart_udis }}
            ],
            visible: false
          },
          {
            name: 'Pasivos USD',
            data: [
              {{ chart_dolares }}
            ],
            visible: false
          },
          {
            name: 'Tasa de Inter&eacute;s M.N.',
            data: [
              {{ chart_ti_pesos }}
            ],
            visible: false
          }
        ]
      });
    });
  </script>
  
  <div class="hr"><!-- i --></div>

  {% if cpps %}
    <div class="mid_box">
      <h3>
        An&aacute;lisis
      </h3>

      <table>
        <tr>
          <th class="bordered_bottom bordered_right">
            <!-- i -->
          </th>
          <th class="bordered_bottom bordered_right">
            CPP
          </th>
          <th class="bordered_bottom bordered_right">
            Pasivos M.N.
          </th>
          <th class="bordered_bottom bordered_right">
            Pasivos UDIS
          </th>
          <th class="bordered_bottom bordered_right">
            Pasivos USD
          </th>
          <th class="bordered_bottom bordered_right">
            Tasa de Inter&eacute;s M.N.
          </th>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            Actual:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'last_value'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'last_value'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'last_value'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'last_value'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'last_value'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            Tendencia:
          </td>
          <td class="bordered_right bordered_bottom numero {{ promedios|get_stat:'tendencia_color' }}">
            {{ promedios|get_stat:'tendencia' }}
          </td>
          <td class="bordered_right bordered_bottom numero {{ pesos|get_stat:'tendencia_color' }}">
            {{ pesos|get_stat:'tendencia' }}
          </td>
          <td class="bordered_right bordered_bottom numero {{ udis|get_stat:'tendencia_color' }}">
            {{ udis|get_stat:'tendencia' }}
          </td>
          <td class="bordered_right bordered_bottom numero {{ dolares|get_stat:'tendencia_color' }}">
            {{ dolares|get_stat:'tendencia' }}
          </td>
          <td class="bordered_right bordered_bottom numero {{ ti_pesos|get_stat:'tendencia_color' }}">
            {{ ti_pesos|get_stat:'tendencia' }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            Promedio:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'promedio'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'promedio'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'promedio'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'promedio'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'promedio'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            <abbr title="Error est&aacute;ndar del promedio">ESP</abbr>:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'sem'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'sem'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'sem'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'sem'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'sem'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            M&aacute;ximo:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'max'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'max'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'max'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'max'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'max'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            M&iacute;nimo:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'min'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'min'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'min'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'min'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'min'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            Media:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'media'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'media'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'media'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'media'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'media'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            Moda:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'moda'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'moda'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'moda'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'moda'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'moda'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            <abbr title="Desviaci&oacute;n est&aacute;ndar">Desv. est.</abbr>:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'desv'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'desv'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'desv'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'desv'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'desv'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            Varianza:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'varianza'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'varianza'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'varianza'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'varianza'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'varianza'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            Inclinaci&oacute;n:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'skew'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'skew'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'skew'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'skew'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'skew'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            Kurtosis:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'kurtosis'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'kurtosis'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'kurtosis'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'kurtosis'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'kurtosis'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            <abbr title="Tendencia Relativa">TR</abbr>:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'tendencia_relativa'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'tendencia_relativa'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'tendencia_relativa'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'tendencia_relativa'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'tendencia_relativa'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            <abbr title="Tendencia Relativa Acumulada">TRA</abbr>:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'tra'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'tra'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'tra'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'tra'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'tra'|currency }}
          </td>
        </tr>
        <tr>
          <td class="bold bordered_right bordered_bottom">
            <abbr title="Predicci&oacute;n Lineal">PL</abbr>:
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ promedios|get_stat:'prediccion_lineal'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ pesos|get_stat:'prediccion_lineal'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ udis|get_stat:'prediccion_lineal'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ dolares|get_stat:'prediccion_lineal'|currency }}
          </td>
          <td class="bordered_right bordered_bottom numero">
            {{ ti_pesos|get_stat:'prediccion_lineal'|currency }}
          </td>
        </tr>
      </table>
    </div>
    
    <div class="mid_box">
      <h3>
        Valores
      </h3>
    
      <table>
        <tr>
          <th class="bordered_bottom bordered_right">
            Fecha
          </th>
          <th class="bordered_bottom bordered_right">
            CPP
          </th>
          <th class="bordered_bottom bordered_right">
            Pasivos M.N.
          </th>
          <th class="bordered_bottom bordered_right">
            Pasivos UDIS
          </th>
          <th class="bordered_bottom bordered_right">
            Pasivos USD
          </th>
          <th class="bordered_bottom bordered_right">
            Tasa de Inter&eacute;s M.N.
          </th>
        </tr>
        {% for cpp in cpps %}
          <tr>
            <td class="bordered_bottom bordered_right">
              {{ cpp.fecha|sDate }}
            </td>
            <td class="bordered_bottom bordered_right numero">
              {{ cpp.promedio|currency }}
            </td>
            <td class="bordered_bottom bordered_right numero">
              {{ cpp.pesos|currency }}
            </td>
            <td class="bordered_bottom bordered_right numero">
              {{ cpp.udis|currency }}
            </td>
            <td class="bordered_bottom bordered_right numero">
              {{ cpp.dolares|currency }}
            </td>
            <td class="bordered_bottom bordered_right numero">
              {{ cpp.ti_pesos|currency }}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    
    <div class="break"><!-- i --></div>
  {% else %}
    <div class="error">
      No encontramos valores para esta fecha, por favor intenta nuevamente.
    </div>
  {% endif %}
{% endblock %}