<h2>
	<a href="/divisas">Divisas</a>
</h2>

<div class="third_box">
	<div>
		<a href="/divisas/dolar/"><img src="/site_media/images/money_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/divisas/dolar/" class="big" title="D&oacute;lar">D&oacute;lar</a>
	</div>
	<p class="small">
		El tipo de cambio con respecto al d&oacute;lar americano.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/divisas/euro/"><img src="/site_media/images/euro_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/divisas/euro/" class="big" title="Euro">Euro</a>
	</div>
	<p class="small">
		Equivalencia del Euro con respecto al peso mexicano.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/divisas/deg/"><img src="/site_media/images/ahorro_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/divisas/deg/" class="big" title="Derecho Especial de Giro">Derecho Especial de Giro</a>
	</div>
	<p class="small">
		Equivalencia del Derecho Especial de Giro.
	</p>
</div>

<div class="break"><!-- i --></div>

<div class="third_box">
	<div>
		<a href="/divisas/libra/"><img src="/site_media/images/libra_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/divisas/libra/" class="big" title="Libra Esterlina">Libra Esterlina</a>
	</div>
	<p class="small">
		El tipo de cambio con respecto a la Libra Esterlina.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/divisas/metales/"><img src="/site_media/images/tesoro_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/divisas/metales/" class="big" title="Metales">Metales</a>
	</div>
	<p class="small">
		Precios del aluminio, cobre, platino, plomo, zinc, etc.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/divisas/oro/"><img src="/site_media/images/oro_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/divisas/oro/" class="big" title="Oro">Oro</a>
	</div>
	<p class="small">
		Precios de venta y compra del oro.
	</p>
</div>

<div class="break"><!-- i --></div>

<div class="third_box">
	<div>
		<a href="/divisas/petroleo/"><img src="/site_media/images/capas_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/divisas/petroleo/" class="big" title="Petr&oacute;leo">Petr&oacute;leo</a>
	</div>
	<p class="small">
		Precio del petr&oacute;leo.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/divisas/plata/"><img src="/site_media/images/plata_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/divisas/plata/" class="big" title="Plata">Plata</a>
	</div>
	<p class="small">
		Precios de venta y compra de la plata.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/divisas/yen/"><img src="/site_media/images/yen_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/divisas/yen/" class="big" title="Yen">Yen</a>
	</div>
	<p class="small">
		Equivalencia del Yen con respecto al peso mexicano.
	</p>
</div>

<div class="break"><!-- i --></div>

<div class="third_box">
	<div>
		<a href="/divisas/tabla_comparativa/"><img src="/site_media/images/pizarra_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/divisas/tabla_comparativa/" class="big" title="Tabla comparativa de divisas">Tabla comparativa de divisas</a>
	</div>
	<p class="small">
		Tabla comparativa de todas las divisas registradas.
	</p>
</div>

<div class="break"><!-- i --></div>