<h1>
  <a href="/indicadores/">Indicadores</a>
</h1>

<p class="big">
  Selecciona el <a href="/indicadores/">indicador econ&oacute;mico</a> que desees ver:
</p>

<div class="hr"><!-- i --></div>

{% include "divisas/_portada.html" %}

<div class="hr"><!-- i --></div>

{% include "bolsas/_portada.html" %}

<div class="hr"><!-- i --></div>

{% include "inflacion/_portada.html" %}

<div class="hr"><!-- i --></div>

{% include "desempeno/_portada.html" %}

<div class="hr"><!-- i --></div>

{% include "tasas/_portada.html" %}