{% extends "base.html" %}

{% block title %}
	Sobre
{% endblock %}

{% block subtitle %}
	Sobre Mis Listas
{% endblock %}

{% block content %}
	<div class="fright">
		<img src="http://static.mislistas.com/imgs/chart.png" alt="" />
		<br />
		<br />
		<br />
		<img src="http://static.mislistas.com/imgs/chart2.png" alt="" />
	</div>
	<span class="h2">&iquest;Qu&eacute; es Mis Listas?</span>
	<br />
	<p>
		<strong>Mis Listas</strong> es una colecci&oacute;n de datos y gr&aacute;ficas que te dan un panorama amplio y completo sobre la situaci&oacute;n socio-econ&oacute;mica en M&eacute;xico.
	</p>
	<span class="h2">&iquest;C&oacute;mo puedo usarlo?</span>
	<br />
	<p>
		Puedes utilizar el men&uacute; superior para usar nuestros varios an&aacute;lisis, por ejemplo: <a href="/salario_minimo/" class="bold">Salario M&iacute;nimo</a>, <a href="/pib/" class="bold">Producto Interno Bruto</a>, <a href="/inflacion/" class="bold">Inflaci&oacute;n</a>.
	</p>
{% endblock %}