<h2>
	<a href="/desempeno">Desempe&ntilde;o</a>
</h2>

<div class="third_box">
	<div>
		<a href="/desempeno/desempleo/"><img src="/site_media/images/briefcase_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/desempeno/desempleo/" class="big" title="Desempleo">Desempleo</a>
	</div>
	<p class="small">
		La tasa de desempleo del pa&iacute;s.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/desempeno/pib/"><img src="/site_media/images/producto_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/desempeno/pib/" class="big" title="Producto Interno Bruto">PIB</a>
	</div>
	<p class="small">
		Producto Interno Bruto del pa&iacute;s.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/desempeno/reservas/"><img src="/site_media/images/coins_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/desempeno/reservas/" class="big" title="Reservas Internacionales">Reservas Internacionales</a>
	</div>
	<p class="small">
		Las reservas internacionales del pa&iacute;s.
	</p>
</div>

<div class="break"><!-- i --></div>