<h2>
	<a href="/bolsas">Bolsas</a>
</h2>

<div class="third_box">
	<div>
		<a href="/bolsas/bmv/"><img src="/site_media/images/graph_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/bolsas/bmv/" class="big" title="Bolsa Mexicana de Valores">Bolsa Mexicana de Valores</a>
	</div>
	<p class="small">
		Series operadas en el mercado, variaciones, an&aacute;lisis, y mucho m&aacute;s.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/bolsas/dow/"><img src="/site_media/images/dow_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/bolsas/dow/" class="big" title="Dow Jones">Dow Jones</a>
	</div>
	<p class="small">
		Promedio industrial Dow Jones.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/bolsas/nasdaq/"><img src="/site_media/images/window_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/bolsas/nasdaq/" class="big" title="NASDAQ">NASDAQ</a>
	</div>
	<p class="small">
		Mercado de acciones NASDAQ.
	</p>
</div>

<div class="break"><!-- i --></div>

<div class="third_box">
	<div>
		<a href="/bolsas/sp500/"><img src="/site_media/images/up_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/bolsas/sp500/" class="big" title="S&P 500">S&P 500</a>
	</div>
	<p class="small">
		&Iacute;ndice Standard & Poor's.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/bolsas/nikkei/"><img src="/site_media/images/japon_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/bolsas/nikkei/" class="big" title="Nikkei 225">Nikkei 225</a>
	</div>
	<p class="small">
		&Iacute;ndice Nikkei 225 para la Bolsa de Valores Japonesa.
	</p>
</div>

<div class="break"><!-- i --></div>