{% extends "base.html" %}
{% load tags %}

{% block title %}
	Bolsa Mexicana de Valores - Emisora - {{ curr_bmv.emisora|safe }} - {{ rango_title|safe }}
{% endblock %}

{% block content %}
  <h1>
    <a href="/bolsas/">Bolsas</a> - 
    <a href="/bolsas/bmv/">Bolsa Mexicana de Valores</a>
  </h1>
  
  <h2>
    {{ curr_bmv.get_emisora_link|safe }} - {{ fecha|sDate }} - {{ rango_title|safe }}
  </h2>
  
  <div class="small right">
    <form method="get" action="/bolsas/bmv/emisora/{{ emisora }}/{{ rango }}/">
      {{ fecha|fecha_select|safe }}
      <input type="submit" value="Ver" />
      <input type="button" value="Hoy" onclick="location.href = '/bolsas/bmv/emisora/{{ emisora }}/{{ rango }}/';" />
    </form>
  </div>
  
  {% include "chart.html" %}

  {% if bmvs %}
    <div class="hr"><!-- i --></div>
    
    <div class="buttons">
      <a href="/bolsas/bmv/emisora/{{ emisora }}/">D&iacute;a</a>
      <a href="/bolsas/bmv/emisora/{{ emisora }}/semana/">Semana</a>
      <a href="/bolsas/bmv/emisora/{{ emisora }}/mes/">Mes</a>
      <a href="/bolsas/bmv/emisora/{{ emisora }}/3meses/">3 meses</a>
      <a href="/bolsas/bmv/emisora/{{ emisora }}/6meses/">6 meses</a>
    </div>
    
    <div class="hr"><!-- i --></div>
    
    <h3>
      An&aacute;lisis
    </h3>
    
    {% include "analisis.html" %}
    
    <div class="hr"><!-- i --></div>
    
    <h3>
      Series
    </h3>
    
    {% include "bolsas/series.html" %}
    
    <div class="break"><!-- i --></div>
  {% else %}
    <div class="error">
      No encontramos valores para esta fecha, por favor intenta nuevamente.
    </div>
  {% endif %}
{% endblock %}