{% extends "base.html" %}
{% load tags %}

{% block title %}
  {{ chart_title|safe }}
{% endblock %}

{% block content %}
  <h1>
    <a href="/bolsas/">Bolsas</a> - 
    <a href="/bolsas/{{ slug }}/">{{ chart_title|safe }}</a>
  </h1>
  
  <h2>
    {{ fecha|sDate }}
  </h2>
  
  <div class="small right">
    <form method="get" action="/bolsas/{{ slug }}/">
      {{ fecha|fecha_select|safe }}
      <input type="submit" value="Ver" />
      <input type="button" value="Hoy" onclick="location.href = '/bolsas/{{ slug }}/';" />
    </form>
  </div>
  
  <div id="container_chart" style="height: 400px; margin: 0 auto"></div>

  <script type="text/javascript"> 
    $(document).ready(function() {
      var chart = new Highcharts.Chart({
        chart: {
          renderTo: 'container_chart',
          defaultSeriesType: 'line',
          margin: [50, 20, 80, 70]
        },
        title: {
          text: "{{ chart_title|safe }}",
          style: {
            margin: '10px 100px 0 0' // center it
          }
        },
        xAxis: {
          categories: [
            {{ chart_categories|safe }}
          ],
          title: {
            text: 'Fecha'
          },
          labels: {
            rotation: -90, 
            y: 34, 
            style: {
              fontSize: '8pt'
            }
          }
        },
        yAxis: {
          title: {
            text: 'Valor'
          },
          plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
          }]
        },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.series.name +'</b><br/>'+
            this.x +': '+ this.y;
          }
        },
        legend: {
          layout: 'vertical',
          style: {
            left: 'auto',
            bottom: 'auto',
            right: '10px',
            top: '100px'
          }
        },
        credits: {
          enabled: false
        },
        series: [
          {
            name: 'Promedios',
            data: [
              {{ chart_promedios }}
            ]
          },
          {
            name: 'BOVESPA',
            data: [
              {{ chart_bovespas }}
            ],
            visible: false,
          },
          {
            name: 'IPSA',
            data: [
              {{ chart_ipsas }}
            ],
            visible: false,
          },
          {
            name: 'MERVAL',
            data: [
              {{ chart_mervals }}
            ],
            visible: false,
          },
          {
            name: 'BVG',
            data: [
              {{ chart_bvgs }}
            ],
            visible: false,
          },
          {
            name: 'IGBVL',
            data: [
              {{ chart_igbvls }}
            ],
            visible: false,
          },
          {
            name: 'IGBC',
            data: [
              {{ chart_colcaps }}
            ],
            visible: false,
          },
          {
            name: 'IBC',
            data: [
              {{ chart_ibcs }}
            ],
            visible: false,
          },
        ]
      });
    });
  </script>
  
  <div class="hr"><!-- i --></div>

  {% if rows %}
    <div>
      <h3>
        An&aacute;lisis
      </h3>

      <table>
        <thead>
          <tr>
            <th class="bordered_right">
              <!-- i -->
            </th>
            <th class="bordered_right">
              Promedio
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Sao Paolo">BOVESPA</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Santiago de Chile">IPSA</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Buenos Aires">MERVAL</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Guayaquil">BVG</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Lima">IGBVL</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Colombia">IGBC</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Caracas">IBC</abbr>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              Actual:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'last_value'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'last_value'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'last_value'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'last_value'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'last_value'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'last_value'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'last_value'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'last_value'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              Tendencia:
            </td>
            <td class="bordered_right bordered_bottom numero {{ valores_promedios|get_stat:'tendencia_color' }}">
              {{ valores_promedios|get_stat:'tendencia' }}
            </td>
            <td class="bordered_right bordered_bottom numero {{ valores_promedios|get_stat:'tendencia_color' }}">
              {{ valores_bovespas|get_stat:'tendencia' }}
            </td>
            <td class="bordered_right bordered_bottom numero {{ valores_promedios|get_stat:'tendencia_color' }}">
              {{ valores_ipsas|get_stat:'tendencia' }}
            </td>
            <td class="bordered_right bordered_bottom numero {{ valores_promedios|get_stat:'tendencia_color' }}">
              {{ valores_mervals|get_stat:'tendencia' }}
            </td>
            <td class="bordered_right bordered_bottom numero {{ valores_promedios|get_stat:'tendencia_color' }}">
              {{ valores_bvgs|get_stat:'tendencia' }}
            </td>
            <td class="bordered_right bordered_bottom numero {{ valores_promedios|get_stat:'tendencia_color' }}">
              {{ valores_igbvls|get_stat:'tendencia' }}
            </td>
            <td class="bordered_right bordered_bottom numero {{ valores_promedios|get_stat:'tendencia_color' }}">
              {{ valores_colcaps|get_stat:'tendencia' }}
            </td>
            <td class="bordered_right bordered_bottom numero {{ valores_promedios|get_stat:'tendencia_color' }}">
              {{ valores_ibcs|get_stat:'tendencia' }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              Promedio:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'promedio'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'promedio'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'promedio'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'promedio'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'promedio'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'promedio'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'promedio'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'promedio'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              <abbr title="Error est&aacute;ndar del promedio">ESP</abbr>:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'sem'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'sem'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'sem'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'sem'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'sem'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'sem'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'sem'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'sem'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              M&aacute;ximo:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'max'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'max'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'max'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'max'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'max'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'max'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'max'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'max'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              M&iacute;nimo:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'min'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'min'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'min'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'min'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'min'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'min'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'min'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'min'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              Media:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'media'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'media'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'media'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'media'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'media'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'media'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'media'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'media'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              Moda:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'moda'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'moda'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'moda'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'moda'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'moda'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'moda'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'moda'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'moda'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              <abbr title="Desviaci&oacute;n est&aacute;ndar">Desv. est.</abbr>:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'desv'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'desv'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'desv'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'desv'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'desv'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'desv'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'desv'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'desv'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              Varianza:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'varianza'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'varianza'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'varianza'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'varianza'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'varianza'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'varianza'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'varianza'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'varianza'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              Inclinaci&oacute;n:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'skew'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'skew'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'skew'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'skew'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'skew'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'skew'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'skew'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'skew'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              Kurtosis:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'kurtosis'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'kurtosis'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'kurtosis'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'kurtosis'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'kurtosis'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'kurtosis'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'kurtosis'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'kurtosis'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              <abbr title="Tendencia Relativa">TR</abbr>:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'tendencia_relativa'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'tendencia_relativa'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'tendencia_relativa'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'tendencia_relativa'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'tendencia_relativa'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'tendencia_relativa'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'tendencia_relativa'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'tendencia_relativa'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              <abbr title="Tendencia Relativa Acumulada">TRA</abbr>:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'tra'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'tra'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'tra'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'tra'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'tra'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'tra'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'tra'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'tra'|currency }}
            </td>
          </tr>
          <tr>
            <td class="bold bordered_right bordered_bottom">
              <abbr title="Predicci&oacute;n Lineal">PL</abbr>:
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_promedios|get_stat:'prediccion_lineal'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bovespas|get_stat:'prediccion_lineal'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ipsas|get_stat:'prediccion_lineal'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_mervals|get_stat:'prediccion_lineal'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_bvgs|get_stat:'prediccion_lineal'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_igbvls|get_stat:'prediccion_lineal'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_colcaps|get_stat:'prediccion_lineal'|currency }}
            </td>
            <td class="bordered_right bordered_bottom numero">
              {{ valores_ibcs|get_stat:'prediccion_lineal'|currency }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="hr"><!-- i --></div>
    
    <div>
      <h3>
        Valores
      </h3>
      
      <table>
        <thead>
          <tr>
            <th class="bordered_right">
              Fecha
            </th>
            <th class="bordered_right">
              Promedio
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Sao Paolo">BOVESPA</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Santiago de Chile">IPSA</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Buenos Aires">MERVAL</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Guayaquil">BVG</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Lima">IGBVL</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Colombia">IGBC</abbr>
            </th>
            <th class="bordered_right">
              <abbr title="Bolsa de Valores de Caracas">IBC</abbr>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
            <tr>
              <td class="bordered_right">
                {{ row|get_stat:"fecha"|sDate }}
              </td>
              <td class="bordered_right">
                {{ row|get_stat:"promedio"|currency }}
              </td>
              <td class="bordered_right">
                {{ row|get_stat:"bovespa"|currency }}
              </td>
              <td class="bordered_right">
                {{ row|get_stat:"ipsa"|currency }}
              </td>
              <td class="bordered_right">
                {{ row|get_stat:"merval"|currency }}
              </td>
              <td class="bordered_right">
                {{ row|get_stat:"bvg"|currency }}
              </td>
              <td class="bordered_right">
                {{ row|get_stat:"igbvl"|currency }}
              </td>
              <td class="bordered_right">
                {{ row|get_stat:"colcap"|currency }}
              </td>
              <td class="bordered_right">
                {{ row|get_stat:"ibc"|currency }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <div class="break"><!-- i --></div>
  {% else %}
    <div class="error">
      No encontramos valores para esta fecha, por favor intenta nuevamente.
    </div>
  {% endif %}
{% endblock %}
