<div class="small">
	<a href="#" onclick="toggleVisible('ayuda'); return false;">(ayuda)</a>

	<div id="ayuda" style="display:none; width: 250px;" class="info">
		<table border="0" cellspacing="0" cellpadding="3">

			<tr>
				<td class="bold small">
					<strong>Escribes</strong>
				</td>
				<td class="bold small">
					<strong>Ves</strong>
				</td>
			</tr>

			<tr class="par">
				<td class="small">
					_it&aacute;licas_
				</td>
				<td class="small">
					<em>it&aacute;licas</em>
				</td>
			</tr>

			<tr class="impar">
				<td class="small">
					*negrigas*
				</td>
				<td class="small">
					<strong>negrigas</strong>
				</td>
			</tr>
			<tr class="par">

				<td class="small">
					[Mis Listas](http://mislistas.com)
				</td>
				<td class="small">
					<a href="http://mislistas.com">Mis Listas</a>
				</td>
			</tr>
		</table>

		<br />


		<div>
			<a href="#" onclick="toggleVisible('ayuda'); return false;">cerrar</a>
		</div>
	</div>
</div>