<h2>
	<a href="/inflacion">Inflaci&oacute;n</a>
</h2>

<div class="third_box">
	<div>
		<a href="/inflacion/inpc/"><img src="/site_media/images/down_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/inflacion/inpc/" class="big" title="INPC">INPC</a>
	</div>
	<p class="small">
		&Iacute;ndices de precios al consumidor (INPC).
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/inflacion/cpi/"><img src="/site_media/images/precio_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/inflacion/cpi/" class="big" title="&Iacute;ndices de inflaci&oacute;n de EUA">&Iacute;ndices de inflaci&oacute;n de EUA</a>
	</div>
	<p class="small">
		&Iacute;ndices de inflaci&oacute;n de EUA - Consumer price index.
	</p>
</div>

<div class="third_box">
	<div>
		<a href="/inflacion/udis/"><img src="/site_media/images/safe_16.png" class="img16 vmiddle" alt="" /></a>
		<a href="/inflacion/udis/" class="big" title="UDIS">UDIS</a>
	</div>
	<p class="small">
		Unidades de Inversi&oacute;n.
	</p>
</div>

<div class="break"><!-- i --></div>